asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
Django==3.2.6
idna==3.2
joblib==1.0.1
langdetect==1.0.9
nltk==3.6.2
pytz==2021.1
regex==2021.8.21
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
textblob==0.15.3
textblob-de==0.4.3
textblob-fr==0.2.0
tqdm==4.62.2
urllib3==1.26.6
