{% extends 'base_generic.html' %}
{% load tailwind_filters %}

{% block title %}Sign up{% endblock title %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-black uppercase transition bg-gray-100 rounded shadow ripple hover:shadow-lg hover:bg-gray-200 focus:outline-none">Sign up</button>
    <div class="mt-6 text-sm font-medium text-gray-600">
        <p>Already have an account?
        <a href="{% url 'login' %}" class="font-medium text-gray-600 hover:text-indigo-500">
           Sign in
        </a></p>
    </div>
  </form>
{% endblock %}