{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero -->
<div class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
    <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
        Every tool you need to work with PDFs in one place
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
        Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge, split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.
    </h3>

    <a href='#' class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
        Sign up
    </a>
    </div>
</div>

<!-- Features -->
<section class="container mx-auto px-6 p-10 bg-white my-6 rounded-xl shadow-xl">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Features
    </h2>
    <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">Convert</h4>
        <p class="text-gray-600 mb-8">Transform any PDF to and from Microsoft Word, Excel, and PowerPoint without losing fonts and formatting.</p>
    </div>
    <div class="w-full md:w-1/2">
        <img src="{% static 'img/1.jpg' %}" alt="Convert" />
    </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
        <img src="{% static 'img/2.jpg' %}" alt="Passwords and Permissions" />
    </div>
    <div class="w-full md:w-1/2 pl-10">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">Passwords and Permissions</h4>
        <p class="text-gray-600 mb-8">Control access to your PDFs by applying password protection or permissions to restrict printing, copying, or altering.</p>
    </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">Merge & Compress</h4>
        <p class="text-gray-600 mb-8">Shape your documents without losing their form</p>
    </div>
    <div class="w-full md:w-1/2">
        <img src="{% static 'img/3.jpg' %}" alt="merge" />
    </div>
    </div>
</section>

<!-- Testimonials -->
<section class="bg-gray-100">
    <div class="container mx-auto px-6 py-20">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
        Testimonials
    </h2>
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <p class="text-gray-800 text-base px-6 mb-5">Monitoring and tracking my health vitals anywhere I go and on any platform I use has never been easier.</p>
            <p class="text-gray-500 text-xs md:text-sm px-6">John Doe</p>
        </div>
        </div>
        <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <p class="text-gray-800 text-base px-6 mb-5">As an Athlete, this is the perfect product for me. I wear my Smart Health Monitoring Wristwatch everywhere i go, even in the bathroom since it's waterproof.</p>
            <p class="text-gray-500 text-xs md:text-sm px-6">Jane Doe</p>
        </div>
        </div>
        <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <p class="text-gray-800 text-base px-6 mb-5">I don't regret buying this wearble gadget. One of the best gadgets I own!.</p>
            <p class="text-gray-500 text-xs md:text-sm px-6">James Doe</p>
        </div>
        </div>
    </div>
    </div>
</section>

<!-- CTA -->
<section style="background-color: #667eea">
    <div class="container mx-auto px-6 text-center py-20">
        <h2 class="mb-6 text-4xl font-bold text-center text-white">
            Get control over PDFs like never before.
        </h2>
        <h3 class="my-4 text-2xl text-white">
            Get started with the best PDF software application today
        </h3>
        <a href='#' class="bg-white font-bold rounded-full mt-6 py-4 px-8 shadow-lg uppercase tracking-wider" >
            Sign up
        </a>
    </div>
</section>
{% endblock content %}